#footer .seccion1 ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer .seccion1{
    padding-left: 0;
    padding-right: 25px;
}
#footer .seccion3 img{
    max-width: 100%;
}
#footer .seccion3 a{
    min-width: 10%;
    max-width: 10%;
    min-height: 10%;
    max-height: 10%;
}
#footer .seccion2{
    border-left: 1px solid var(--bs-border-color) !important;
    border-right: 1px solid var(--bs-border-color) !important;
}