.cuerpo {
    display: flex;
    justify-content: space-around;
}

.postulacion {
    justify-content: space-between;
    border-radius: 7px;
}

.postulacion:hover {
    background-color: #ffddb1de;
}

.postulacion p.estado {
    margin: 0.5vh 0;
    padding: 0 0 0 0.5vh;
}
.postulacion p.fecha {
    margin: 0.5vh 0;
    padding: 0 0.5vh 0 0;
}

.postulacion_titulo {
    text-align: center;
    padding: 1vh;
}

.postulaciones {
    padding: 1vh;
}

aside {
    height: fit-content;
    margin: 2rem 0;
}

.contenedor {
    margin: 1rem 0;
}




.perfil_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 3vh auto 1vh;
    width: 23vh;
    height: 23vh;
}

.user_photo .divFoto {
    position: relative;
    display: flex;
    width: 8vh;
    height: 8vh;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.user_photo .divFoto img {
    border-radius: 50%;
    /* Redondea la foto de perfil */
    position: relative;
    z-index: 2;
    /* Coloca la foto de perfil sobre el borde decorativo */
    width: 15vh;
    height: 15vh;
}

.user_photo .fondoFoto {
    position: absolute;
}

.user_photo .userFoto,
.user_photo .fondoFoto {
    background-color: #fff;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
}

.user_photo .userFoto img {
    border: solid 0.1vh black;
}


.user_photo .decoFoto1 {
    position: absolute;
    width: 22.5vh;
    height: auto;
    z-index: 3;
}

.user_photo .decoFoto2 {
    position: absolute;
    width: 18vh;
    height: auto;
    z-index: 3;
}

.user_photo .decoFoto3 {
    position: absolute;
    width: 19vh;
    height: auto;
    z-index: 3;
}

.user_photo .decoFoto4 {
    position: absolute;
    width: 17vh;
    height: auto;
    z-index: 3;
}

.user_photo .decoFoto5 {
    position: absolute;
    width: 17.5vh;
    height: auto;
    z-index: 3;
}

.user_photo .decoFoto6 {
    position: absolute;
    width: 16.7vh;
    height: auto;
    margin-right: 1.6vh;
    margin-bottom: 0.5vh;
    z-index: 3;
}

.user_photo .decoFoto7 {
    position: absolute;
    width: 18.5vh;
    height: auto;
    z-index: 3;
    margin-right: 0.5vh;
    margin-bottom: 0.6vh;
}

.perfil .user_name {
    text-align: center;
    border-bottom: solid 0.3vh black;
}

.perfil_info,
.perfil_options {
    display: grid;
    padding: 1vh;
    justify-content: center;
    margin: 0 1vh;
}

.perfil_options {
    border-bottom: solid 0.3vh black;
}

.perfil_info a,
.perfil_info p,
.perfil_options a {
    text-decoration: none;
    width: 32vh;
    text-align: start;
    color: black;
    margin: 0.7vh 0;
    padding: 0 0.7vh;
    border-radius: 7px;
}

.perfil_info a:hover,
.perfil_options a:hover {
    background-color: #ffddb1de;
}

.perfil_calificacion {
    padding: 1vh;
}

.perfil_calificacion .calificacion_titulo {
    text-align: center;
    border-top: solid 0.3vh black;
    border-bottom: solid 0.3vh black;
    padding: 1vh;
}

.perfil_calificacion .calificacion_puntaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil_calificacion .calificacion_puntaje img {
    width: 150px;
    height: 150px;
    position: relative;
    top: -3vh;
}

.perfil_calificacion .calificacion_puntaje p {
    position: relative;
    top: -8vh;
}