
.u_photo{
    width:10vh;
    /* background-color:black; */
   border-radius: 8px; 
}
.user_photo{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-bottom:1.5vh;
}
.user_info{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    padding-left:1vh;
}
.publication_date{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    padding-right:1vh;
}
.publication_date div{
    display:flex;
    justify-content:flex-end;
}
.publicacion_cabecera{
    display:flex;
    border-radius: 8px;
    justify-content: space-around;
}
.publicacion_cabecera .col-10{
    display:flex;
}
.contenedor{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.publicacion{
    border-radius: 8px;
    margin: 5vh;
    padding: 2vh;
    background-color:#FEFFFE;
}
[name=publicacion]:hover{
    cursor:pointer;
}
.publicacion p{
    /* color:black; */
    margin-bottom:0.4vh;
}

dialog{
    margin:auto;
}

.publication_info p{
    padding-left:1.5vh;
    padding-right:1.5vh;
}
.publication_info div{
    margin-bottom:1vh;
}
.carousel-inner{
    border-radius: 8px;
    border-radius:5%;
}
.img-fluid{
    border-radius:10px;
}
.publicacion_pie{
    padding:1.5vh;
    
}
.publicacion_postularse{
    display:flex;

}
#postularse{
    margin:1.5vh;
}
.accordion{
    --bs-accordion-btn-focus-box-shadow:none;
    --bs-accordion-active-bg:#fff;
    --bs-accordion-active-color:#aaaaaa; 
    --bs-accordion-body-padding-y:0.3rem;
}
.comentario{
    display:flex;
    border-bottom:solid 4px #D9D9D9; 
}
.comentario:hover{
    cursor:pointer;
}
.comentario .user_photo{
    align-items:flex-start;
    padding-top:1.5vh;
}
.comentario_cuerpo{
    padding-left:1.5vh;
}
.comentario_cabecera_cuerpo{
    display:flex;
}
.comentario_date{
    text-align:end;
    padding-right:1vh;
}
.comentario_form{
    padding:2.5vh 0;
    width:100%;
}
.comentario_form .col-12{
    display:flex;
    justify-content:space-evenly;
    align-items: flex-end;
}
.comentario_form .col-auto{
    padding:1vh;
    border-radius:0.375rem
}
.comentario_form .form-control{
    width:75%;
    resize: none;
}
dialog{
    margin: auto !important;
    border-radius: 6px!important;
}

dialog::-webkit-scrollbar{
    width:7px;
    
}
dialog::-webkit-scrollbar-thumb{
    background-color: #FEFFFE;
    border-radius:12px;
    padding:0.2vh;
}
.cuerpo{
    display:flex;
    justify-content:space-around;
    background-color: #D9D9D9;
}
.postulacion{
    display:flex;
    justify-content:space-around;
    /* border-top:solid 0.3vh black; */
}
.postulacion:hover{
    cursor:pointer;
}
.postulacion p{
    margin:1vh 0;
    padding:0 0.5vh;
}
.postulacion_titulo{
    text-align:center;
    padding:1vh;
}
.postulaciones{
    padding:1vh;
}
aside{
    background-color: #FEFFFE;
    border-radius: 8px;
    height: fit-content;
    margin: 5vh 0;
    color:#FEFFFE;
}
.perfil_user{
    padding:1vh;
}
.perfil_user .user_photo{
    padding:1vh;
}
.perfil_user .user_photo img{
    width:50%;
    border-radius:50%;
    background-color:#FEFFFE;
}
.perfil .user_name{
    text-align:center;
    border-bottom:solid 0.3vh #FEFFFE;
}
.perfil_links{
    display:grid;
    padding:1vh;
    justify-content:center;
}
.perfil_links a{
    text-decoration:none;
    color:black;
    margin: 0.7vh 0;
    padding:0 0.7vh;
    border-radius:7px;
}
.perfil_links a:hover{
    background-color:#fff;
}
.perfil_calificacion{
    padding:1vh;
}
.perfil_calificacion .calificacion_titulo{
    text-align:center;
    border-top: solid 0.3vh black;
    border-bottom: solid 0.3vh black;
    padding: 1vh;
}
.perfil_calificacion .calificacion_puntaje{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.perfil_calificacion .calificacion_puntaje img{
    width:75%;
    position:relative;
    top:-3vh;
}
.perfil_calificacion .calificacion_puntaje p{
    position:relative;
    top:-8vh;
}

.btn{
    background-color:#F4F2EE;
    color: #000000;
    border-radius: 30px;
    width: 150px;
    font-weight: bold;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #4B0082;
}