.notificaciones{
    min-height: 55vh;
    display: flex;
    justify-content: center;
}

.notiLeido{
    background-color: #e8e8e8;
}
.notificacion .mensaje:hover{
    background-color: #cecece;
}
.notificacion .botones p{
    margin: 0;
}
.notificacion .botones p:hover{
    background-color: #cecece;
}
.notificacion a p{
    word-break: break-all;
}