*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

body{
  background-color: #F1F3F5;  
  color: #000000;
};


.formulario-registro{
    color:rgba(255, 255, 255, 90%);
}

.bg-input{
    background-color: rgba(255, 255, 255, 80%);
}

.rst-pass{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.rst-pass:hover{
    cursor: pointer;
    text-decoration: underline;
}

.btn-amarillo{
    color: #642294;
    background-color: #FFC107;
    border-radius: 30px;
    width: 251px;
    font-weight: bold;
}

.btn-morado{
    background-color: #4B0082;
    color: #FFFFFF;
    border-radius: 30px;
    width: 251px;
    font-weight: bold;
}

.btn-morado:hover{
    color: #FFFFFF;
    background-color: #4B0082;
}

.btn-amarillo:hover{
    color: #642294;
    background-color: #FFC107;
}

.additional-fields {
    display: none;
}