body{
    background: linear-gradient(to right, #4B0082, #A6420D) !important;
    color: #FFFFFF;
}


.formulario-registro{
    color:rgba(255, 255, 255, 90%);
}

.bg-input{
    background-color: rgba(255, 255, 255, 80%);
}

.rst-pass{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.btn-amarillo{
    color: #642294;
    background-color: #FFC107;
    border-radius: 30px;
    width: 251px;
    font-weight: bold;
}

.btn-morado{
    background-color: #4B0082;
    color: #FFFFFF;
    border-radius: 30px;
    width: 251px;
    font-weight: bold;
}

.btn-blanco{
    background-color:#F4F2EE;
    color: #FFFFFF;
    border-radius: 30px;
    width: 251px;
    font-weight: bold;
}


.btn-morado:hover{
    color: #FFFFFF;
    background-color: #4B0082;
}


.btn-amarillo:hover{
    color: #642294;
    background-color: #FFC107;
}

.btn-blanco:hover{
    color: #FFFFFF;
    background-color: #4B0082;
}

.additional-fields {
    display: none;
}

.card-top-publicaciones{
    width: 500px;
    height: 60px;
    border-bottom: 1px solid;
}
.card-publicacion{
    width: 500px;
    height: 341px;
    top: 48px;
    left: 350px;
    border-radius: 8px;
}